@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--LightGray);
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 27%;
    background-color: var(--White);
    padding: 18px;
    border-radius: 20px;
    min-width: 350px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.card img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}
.card h2{
    text-align: center;
    width: 85%;
    margin-bottom: 15px;
    color: var(--DarkBlue);

}
.card p{
    text-align: center;
    width: 80%;
    color: var(--GrayishBlue);
    margin-bottom: 20px;
}
